@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-size: 1.7em;
    speak: none;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    text-align: center;
    display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e602";
}
.icon-params:before {
	content: "\e607";
}
.icon-photo:before {
	content: "\e60a";
}
.icon-shop:before {
	content: "\e60e";
}
.icon-video:before {
	content: "\e60f";
}
.icon-search:before {
	content: "\e610";
}
.icon-phone:before {
	content: "\e611";
}
.icon-calendar:before {
	content: "\e615";
}
.icon-eye:before {
	content: "\e616";
}
.icon-pen:before {
	content: "\e617";
}
.icon-key:before {
	content: "\e618";
}
.icon-note:before {
	content: "\e61a";
}
.icon-Share:before {
	content: "\e63a";
}
.icon-Bulb:before {
	content: "\e627";
}
.icon-Location:before {
	content: "\e628";
}
.icon-Star:before {
	content: "\e63b";
}
.icon-Heart:before {
	content: "\e63c";
}
.icon-Server:before {
	content: "\e629";
}
.icon-AlarmClock:before {
	content: "\e606";
}
.icon-World:before {
	content: "\e63d";
}
.icon-Cctv:before {
	content: "\e613";
}
.icon-ServerSync:before {
	content: "\e601";
}
.icon-House:before {
	content: "\e603";
}
.icon-Locked:before {
	content: "\e62a";
}
.icon-UnLock:before {
	content: "\e62b";
}
.icon-IZ:before {
	content: "\e62c";
}
.icon-Timer:before {
	content: "\e62d";
}
.icon-IZCircle:before {
	content: "\e62e";
}
.icon-Clock:before {
	content: "\e62f";
}
.icon-Setting:before {
	content: "\e630";
}
.icon-False:before {
	content: "\e631";
}
.icon-Refresh:before {
	content: "\e632";
}
.icon-CloudSync:before {
	content: "\e63e";
}
.icon-True:before {
	content: "\e633";
}
.icon-Message:before {
	content: "\e634";
}
.icon-iMac:before {
	content: "\e635";
}
.icon-Mail:before {
	content: "\e608";
}
.icon-Sms:before {
	content: "\e63f";
}
.icon-Email:before {
	content: "\e636";
}
.icon-Trash:before {
	content: "\e637";
}
.icon-Zone8:before {
	content: "\e638";
}
.icon-Zone20:before {
	content: "\e639";
}
.icon-MainMenu:before {
	content: "\e600";
}
.icon-Back:before {
	content: "\e604";
}
.icon-Forward:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e806";
}
.icon-gplus:before {
	content: "\e80d";
}
.icon-info:before {
	content: "\e80c";
}
