// HTML5 Boilerplate
//
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.

@import 'base';

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'UltraLight', sans-serif;
    background: #303131;
    color: #fff;
    font-size: 2em;
    line-height: 1.4;
    overflow-x: hidden;
}

a {
    color: #00e;

    &:visited {
        color: #551a8b;
    }
    &:hover {
        color: #06e;
    }
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
    vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(../fonts/Lato.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(../fonts/Josefin-Sans.woff) format('woff');
}
@font-face {
    font-family: 'UltraLight';
    font-style: normal;
    font-weight: 100;
    src: local('Helvetica Neue UltraLight'), local('Helvetica-Neue-UltraLight'), url(../fonts/HelveticaNeue-UltraLight.woff) format('woff');
}

$pageFxDuration: .4s;
$pageFxEaseCB: cubic-bezier(0.230, 0.635, 0.355, 1.000);
$pageFxFillMode: both;
$minHeight: 320px;

.pt-page-moveToLeft {
    @include animation(moveToLeft, $pageFxDuration, $pageFxEaseCB, $pageFxFillMode);
}
.pt-page-moveFromLeft {
    @include animation(moveFromLeft, $pageFxDuration, $pageFxEaseCB, $pageFxFillMode);
}
.pt-page-moveToRight {
    @include animation(moveToRight, $pageFxDuration, $pageFxEaseCB, $pageFxFillMode);
}
.pt-page-moveFromRight {
    @include animation(moveFromRight, $pageFxDuration, $pageFxEaseCB, $pageFxFillMode);
}

.pt-perspective {
    @include dimenPos(100%, 100%, relative);
    perspective: $perpective;
}
.pt-page {
    @include dimen(100%, null, null, $minHeight);
    @include position(0, 0);
    @include abs;
    visibility: hidden;
    display: none;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;

}
.pt-page-current, .no-js .pt-page {
    visibility: visible;
    display: block;
    z-index: 1;
}
.no-js body {
    overflow: auto;
}
.pt-page-ontop {
    z-index: 999;
}


@mixin line ($height:5px, $marginBottom:0) {
    width: 25px;
    height: $height;
    border-bottom: 1px solid;
    margin: 0 auto $marginBottom;
}


div.header {
    @include dimenPos(100%, 60px, fixed);
    background-color: rgba(48, 48, 48, .99);
    z-index: 10;

    .row {
        margin: 10px 2px;

        .pageTitle {
            line-height: 2em;

            div.line {
                @include line;
            }
        }
    }
}
div.tallerHead {
    @extend div.header;
    height: 100px;
}
div.tallerMargin {
    margin-top: 100px !important;
}

div.body {
    margin-top: 60px;
    height: 100%;

    li {
        margin-bottom: 2px;
        padding: 20px;
        line-height: 60px;
        background-color: rgba(50, 50, 50, $opacity);
    }
}
div.body2 {
    @extend div.body;
    background-color: #EE5567;
}
div.body4 {
    @extend div.body;
    background-color: #6D97AE;
}
div.fixPad {
    padding-left: 4px;
    padding-right: 4px;
}


ul {
    list-style-type: none;
    @include boxModel(0, 0);
}
ul.mainmenu {
    li {
        padding: 20px 0;
        text-align: center;
        cursor: pointer;

        &:first-child {
            color: darkorange;
        }
    }
}

div.location {
    @include dimen(100%, 9em);
    @include boxModel(4px 0, 1em);
    text-align: center;
    background-color: rgba(0, 0, 0, $opacity);

    div.ico {
        margin-top: 15px;
        font-size: 2em;
    }
    div.line {
        @include line(15px, 10px);
    }
}

div.sliderCircle {
    @include dimenPos(300px, 300px);
    @include position(160px, 30px);
    margin: 0 auto;
    border: 40px solid #80B2CC;
    border-radius: 1000px;
}
div.slider {
    @include dimenPos(40px, 40px, relative);
    @include position(-40px, 95px);
    background: white url(http://img707.imageshack.us/img707/6060/arrh.png) no-repeat center 20px;
    border-radius: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
// Prevent callout
.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

// A hack for HTML5 contenteditable attribute on mobile
textarea[contenteditable] {
    -webkit-appearance: none;
}

// A workaround for S60 3.x and 5.0 devices which do not animated gif images if
// they have been set as display: none
.gifhidden {
    position: absolute;
    left: -100%;
}

// Image replacement
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
    @include dimenPos(1px, 1px);
    @include boxModel(-1px, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    @include dimenPos(auto, auto, static);
    clip: auto;
    margin: 0;
    overflow: visible;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// Clearfix helper
// Used to contain floats: h5bp.com/q
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    // Style adjustments for viewports that meet the condition
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
    // Style adjustments for viewports that meet the condition
}
