@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?36078631');
  src: url('../fonts/fontello.eot?36078631#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?36078631') format('woff'),
       url('../fonts/fontello.ttf?36078631') format('truetype'),
       url('../fonts/fontello.svg?36078631#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?36078631#fontello') format('svg');
  }
}
*/
 
 [class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ico-spin4:before { content: '\e809'; } /* '' */
.ico-logout:before { content: '\e80d'; } /* '' */
.ico-cog-alt:before { content: '\e810'; } /* '' */
.ico-login:before { content: '\e80e'; } /* '' */
.ico-ellipsis-vert:before { content: '\e812'; } /* '' */
.ico-stethoscope:before { content: '\e811'; } /* '' */
.ico-users:before { content: '\e816'; } /* '' */
.ico-user-add:before { content: '\e815'; } /* '' */
.ico-info-circled:before { content: '\e814'; } /* '' */
.ico-alert:before { content: '\e80f'; } /* '' */
.ico-left-open:before { content: '\e81e'; } /* '' */
.ico-left-open-mini:before { content: '\e813'; } /* '' */
.ico-monitor:before { content: '\e819'; } /* '' */
.ico-globe-1:before { content: '\e818'; } /* '' */
.ico-gauge:before { content: '\e81a'; } /* '' */
.ico-traffic-cone:before { content: '\e81b'; } /* '' */
.ico-home-outline:before { content: '\e807'; } /* '' */
.ico-warning-empty:before { content: '\e80c'; } /* '' */
.ico-mobile-alt:before { content: '\e822'; } /* '' */
.ico-menu:before { content: '\e81c'; } /* '' */
.ico-bell:before { content: '\e802'; } /* '' */
.ico-lock-open:before { content: '\e800'; } /* '' */
.ico-hdd:before { content: '\e823'; } /* '' */
.ico-facebook-rect:before { content: '\e826'; } /* '' */
.ico-googleplus-rect:before { content: '\e824'; } /* '' */
.ico-arrows-cw:before { content: '\e808'; } /* '' */
.ico-clipboard:before { content: '\e825'; } /* '' */
.ico-mail:before { content: '\e81d'; } /* '' */
.ico-videocam:before { content: '\e827'; } /* '' */
.ico-camera:before { content: '\e828'; } /* '' */
.ico-lock:before { content: '\e806'; } /* '' */
.ico-comment-1:before { content: '\e817'; } /* '' */
.ico-trash-2:before { content: '\e829'; } /* '' */
.ico-cog:before { content: '\e82a'; } /* '' */
.ico-params:before { content: '\e82b'; } /* '' */
.ico-calendar:before { content: '\e805'; } /* '' */
.ico-lightbulb:before { content: '\e801'; } /* '' */
.ico-megaphone:before { content: '\e820'; } /* '' */
.ico-shop:before { content: '\e80b'; } /* '' */
.ico-search:before { content: '\e804'; } /* '' */
.ico-lock-1:before { content: '\e803'; } /* '' */