template {
    display: none;
}
li.ui-li-static.ui-li-has-thumb {
    min-height: 60px;
}
h3.listTitle {
    padding-top: 9px;
    margin: 0;
}
img.freesize, img.freesize2, div.freesize, div.freesize2 {
    max-width: none;
    max-height: none;
}
img.freesize2 {
    left: auto;
}
input.passcode {
    height: 50px;
    text-align: center;
}
div.cameraWrap {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#page-security div.ui-slider-switch {
    width: 105px;
}
#page-lights div.slider {
    margin: 0;
}
#page-lights div.slider div.ui-slider {
    width: 100%;
}
.bs, .bs:before, .bs:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.divcenter {
    margin-left: auto;
    margin-right: auto;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.grey {
    color: #808080;
}
.disallowed {
    cursor: not-allowed;
}
.p5 {
    padding: 5px;
}
.pl5 {
    padding-left: 5px;
}
.s12 {
    font-size: 12px;
    font-weight: normal;
}
.whiteBg {
    background-color: #fff;
}
.noTxtShadow {
    text-shadow: none;
}


h3.headerTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mm-menu li.mm-label {
    text-transform: none;
}
.mm-menu li.group {
    font-size: 18px;
    line-height: 40px;
}
.mm-menu li.mm-active > a.mm-subopen {
    background: transparent;
}
.mm-menu li.mm-active > a, .mm-menu li.mm-active > span {
    background: rgba( 0, 0, 0, 0.2 );
}
.mm-menu ul.mm-opened li.mm-opened > em.mm-counter {
    display: none;
}
.mm-menu li .mm-counter {
    /*background-color: #eee;
    padding: 0 7px;
    border-radius: 8px;*/
}

.icon80 {
    font-size: 60px;
}
li.iconThumb a.ui-link-inherit {
    padding: 0 !important;
}
li.iconThumb div.ui-li-thumb {
    position: static;
    padding: 1px;
}
li.iconThumb div.ui-li-content {
    padding: 20px 0 0 8px;
}
li.iconThumbFormat div.ui-block-a {
    padding-left: 86px;
}
li.iconThumbFormat div.nested h3 {
    padding-top: 9px;
}
li.iconThumbFormat div.ui-block-b {
    line-height: 45px;
    padding-top: 13px;
    text-align: right;
}

div.authOptions {
    position: relative;
    width: 900px;
    margin: 0 auto;
}
div.useSignin {
    width: 400px;
    margin: 0 auto;
    padding-left: 15px;
}
div.authDivider {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #ddd;
}
div.authDivider:before {
    content: 'OR';
    position: absolute;
    top: 110px;
    left: -15px;
    padding: 5px;
    background-color: #f6f6f6;
    color: #222;
}
div.withServices {
    width: 360px;
    padding-right: 25px;
}
@media (max-width: 910px) {
    div.authOptions {
        width: 420px;
    }
    div.authDivider {
        position: relative;;
        width: 100%;
        height: 1px;
        top: initial;
        left: initial;
        margin: 50px 0;
    }
    div.authDivider:before {
        top: -15px;
        left: 50%;
        margin-left: -16px;
    }
    div.authOption {
        float: none !important;
    }
    div.withServices {
        margin: 0 auto;
        padding-right: 0;
    }
}
@media (max-width: 447px) {
    div.authOptions {
        width: 365px;
    }
    div.useSignin {
        width: 320px;
        margin: 0 auto;
        padding-left: 0;
    }
    div.withServices {
        width: 320px;
        padding-right: 16px;
    }
    div.authDivider {
        width: 96%;
    }
    #save-password-label {
        width: 120px;
    }
}
@media (max-width: 365px) {
    div.authOptions {
        width: 320px;
    }
    div.useSignin {
        width: 300px;
        margin: 0 auto;
    }
    div.withServices {
        width: 280px;
        padding-right: 3px;
    }
    div.authDivider {
        width: 100%;
    }
}
div.signinWrap {
    width: 500px;
}
@media (max-width: 580px) {
    div.signinWrap {
        width: 380px;
    }
}
@media (max-width: 420px) {
    div.signinWrap {
        width: 280px;
    }
}
a.authButton {
    position: relative;
    display: block;
    margin: 35px 0;
    border-radius: 4px;
    padding: 20px 10px 15px 75px;
    color: #fff !important;
    font-weight: normal !important;
    text-shadow: none;
    transition: background 0.8s ease;
}
a.authButton span.text {
    font-size: 16px;
    line-height: 18px;
}
a.facebook {
    background-color: #3c5a98;
}
a.facebook:hover {
    background-color: #4365aa;
}
a.google {
    background-color: #dd4b39;
}
a.google:hover {
    background-color: #e15f4f;
}
span.authIcon {
    position: absolute; top: 0; left: 0; display: block;
    width: 50px;
    height: 100%;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
}

div.useSignin .ui-field-contain label {
    width: 28%;
}
div.useSignin .ui-field-contain div.ui-input-text {
    width: 70%;
}

div.header div.navBackWrap {
    width: 80px;
    padding-top: 5px;
}
div.header a.ico-left-open, div.header a.ico-left-open-mini {
    margin-left: 5px;
    font-size: 32px;
}
div.header a.logoIcon {
    background: url(../img/icon.png) 32px 1px no-repeat;
}
div.header a.icon-block-menu, div.header a.icon-three-points {
    color: #999;
    line-height: 55px;
    font-size: 32px;
}
div.header a.icon-block-menu {
    padding-left: 22px;
    padding-right: 8px;
}
div.header a.icon-three-points {
    padding-right: 22px;
    padding-left: 8px;
}
span.zoneStatus {
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    text-shadow: none;
    border-radius: 12px;
}
table.iconWrap {
    min-width: 94px;
    height: 55px;
}
table.iconWrap tr td:first-child {
    padding-top: 1px;
}
table.iconWrap span {
    font-size: 19px;
}

.errPop {
    padding: 5px 20px 5px 10px;
}