li.ui-li-static.ui-li-has-thumb {
    min-height: 60px;
}
h3.listTitle {
    padding-top: 9px;
    margin: 0;
}
img.freesize, img.freesize2, div.freesize, div.freesize2 {
    max-width: none;
    max-height: none;
}
img.freesize2 {
    left: auto;
}
input.passcode {
    height: 50px;
    text-align: center;
}
#page-lights div.slider {
    margin: 0;
}
#page-lights div.slider div.ui-slider {
    width: 100%;
}
.bs, .bs:before, .bs:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.divcenter {
    margin-left: auto;
    margin-right: auto;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.grey {
    color: #808080;
}