template {
    display: none;
}
li.ui-li-static.ui-li-has-thumb {
    min-height: 60px;
}
h3.listTitle {
    padding-top: 9px;
    margin: 0;
}
img.freesize, img.freesize2, div.freesize, div.freesize2 {
    max-width: none;
    max-height: none;
}
img.freesize2 {
    left: auto;
}
input.passcode {
    height: 50px;
    text-align: center;
}
div.cameraWrap {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#page-security div.ui-slider-switch {
    width: 105px;
}
#page-lights div.slider {
    margin: 0;
}
#page-lights div.slider div.ui-slider {
    width: 100%;
}
.bs, .bs:before, .bs:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.divcenter {
    margin-left: auto;
    margin-right: auto;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.grey {
    color: #808080;
}
.p5 {
    padding: 5px;
}
.pl5 {
    padding-left: 5px;
}
.s12 {
    font-size: 12px;
    font-weight: normal;
}
.whiteBg {
    background-color: #fff;
}
.noTxtShadow {
    text-shadow: none;
}


h3.headerTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
}

.mm-menu li.mm-label {
    text-transform: none;
}
.mm-menu li.group {
    font-size: 18px;
    line-height: 40px;
}
.mm-menu li.mm-active > a.mm-subopen {
    background: transparent;
}
.mm-menu li.mm-active > a, .mm-menu li.mm-active > span {
    background: rgba( 0, 0, 0, 0.2 );
}

.icon80 {
    font-size: 60px;
}
li.iconThumb a.ui-link-inherit {
    padding: 0 !important;
}
li.iconThumb div.ui-li-thumb {
    position: static;
    padding: 1px;
}
li.iconThumb div.ui-li-content {
    padding: 20px 0 0 8px;
}

div.header a.icon-block-menu, div.header a.icon-three-points {
    color: #999;
    line-height: 55px;
    font-size: 32px;
}
div.header a.icon-block-menu {
    padding-left: 22px;
    padding-right: 8px;
}
div.header a.icon-three-points {
    padding-right: 22px;
    padding-left: 8px;
}
span.zoneStatus {
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    text-shadow: none;
    border-radius: 12px;
}
table.iconWrap {
    min-width: 94px;
    height: 55px;
}
table.iconWrap tr td:first-child {
    padding-top: 1px;
}
table.iconWrap span {
    font-size: 19px;
}