$abs : absolute;
$rel : relative;

$bs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before {
  }
  &:after {
  }
}
$divcenter {
  margin-left: auto;
  margin-right: auto;
}
$bold {
  font-weight: bold;
}
$normal {
  font-weight: normal;
}
$italic {
  font-style: italic;
}
$center {
  text-align: center;
}
$right {
  text-align: right;
}
$grey {
  color: #808080;
}
$clicker {
  cursor: pointer;
}
$pointer {
  cursor: default;
}
$disallowed {
  cursor: not-allowed;
}